<div class="row reply-hide singlePost-reply-box">
    <div class="single-reply-img col-3">
        <img class="singlePost-reply-profile-picture" src="{{replyDetail.imageurl}}">
    </div>
    <div class="single-reply-p col-9">
        <p> {{replyDetail.replydetail}}</p>
    </div>
</div>