<div class="messages-single-message row">
    <div class="col-1">
        <img class="messages-pictures-small" src={{singleMessageInfo.imageURL}} />
    </div>
    <div class="col-11">
        <div class="row">
            <span class="messages-mini-name">{{singleMessageInfo.sender}}</span>
            <span class="dot">.</span>
            <span class="messages-time">{{singleMessageInfo.time}}</span>
        </div>
        <div class="row">
            <p>{{singleMessageInfo.content}}</p>
        </div>
    </div>
</div>