<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script src='/js/home.js' defer></script>
    <title>Justin Cervantes Lab 5</title>
</head>
<body>


    <div id="container">
        <form action="/search" method="POST">
            <h3>Artist Directory</h3>
            <input id="topInput" placeholder="Search" type="text" name="namesearch" maxlength="40">
            <button type="submit" id="filterSearchButton">Search</button>
            <button type="button" id="addArtistButton" onclick="showAddArtistForm()">Add artist</button>
        </form> 

        <form id="inputForm" action="/add" method="POST">
            <input id="addName" placeholder="Artist name" type="text" name="name" maxlength="40">
            <input id="addAbout" placeholder="About artist" type="text" name="about" maxlength="40">
            <input id="addImageURL" placeholder="Image url" type="text" name="imageURL" >
            <button type="submit" id="addFieldsButton" onclick="addArtistButton()">Add</button>
        </form>

        <div id="profilesDiv">

        </div>
    </div>

</body>
</html>