<div id="login-register">

  <div id="login-navbar" class="row">
    <div class="col">
      <span id="login-title">
        <a href="/">
          knowledge<span id="login-title-base">Base</span>
        </a>
      </span>
    </div>
    <div class="col">
      <form id="login-navbarsubmit" action="/auth/signin" method="POST">
        <div class="row form-group">
          <input class="form-control col-5 form-content-spacing" type="email" name="email" placeholder="email" />
          <input class="form-control col-3 form-content-spacing" type="password" name="password" placeholder="password" />
          <button class="btn btn-primary col" type="submit">Login</button>
              <b class="error">{{signinFail}}</b>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img id="login-main-image" src="/images/vector_knowledge.jpg">
    </div>
    <div class="col">
      <div class="row">
        <span id="login-preregistration-title">Join the world's largest <br />community for knowledge
          <br />sharing</span>
      </div>

      <div id="login-preregistration">
        <form action="/auth/signup" method="POST" oninput='confirmpassword.setCustomValidity(confirmpassword.value != password.value ? "Passwords do not match." : "")'>
          <div id="login-preregistration-names" class="form-group">
            <div class="row">
              <input class="col form-control form-content-spacing" type="text" name="firstname"
                placeholder="firstname" />
              <input class="col form-control form-content-spacing" type="text" name="lastname" placeholder="lastname" />
            </div>
          </div>

          <div class="row form-group">
            <input class="col form-control form-content-spacing" type="email" name="email" placeholder="email" />
          </div>

          <div class="row form-group">
            <input class="col form-control form-content-spacing" type="password" name="password"
              placeholder="password" />
          </div>

          <div class="row form-group">
            <input class="col form-control form-content-spacing" type="password" name="confirmpassword"
              placeholder="confirm password" />
          </div>
          
            <div class="rwo error-msg">
              <b>{{signupFail}}</b>
            </div>
          <button id="login-preregistration-btn" class="btn btn-primary" type="submit">Register</button>
      </div>
      </form>
    </div>
  </div>
</div>
