<div >
    {{!-- <div id="home-discussions-container"> --}}


    <div id="search-main">
        {{#each postsData}}
        {{>singlePost postDetail=this}}
        {{/each}}
    </div>

    {{!-- </div> --}}
</div>