#submitbutton {
    padding: 7px;
    background-color: solid rgb(184, 181, 181);
}

#main-navbar {
    padding: 10px;
    display: flex;
}

#main-title {
    font-size: 30pt;
    font-weight: bold;
    top: -8px;
}

#main-title-k {
    color: black;

}

#main-title-b {
        color: #00BFFF;
    
}

#main-searchbar {
    padding-left: 0px;
}

#main-searchbar-input {
    background-color: rgb(215, 229, 233);
    border: solid 2px lightgrey;
    border-radius: 0%;
    padding-right:1px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#headerform {}

#container {
    padding-top: 25px;
    width: 400px;
    margin: 0 auto;
}

#container form {
    border: 1px solid rgb(184, 181, 181);
    padding: 15px 15px;
}

#container form h3 {
    margin-top: 5px;
}

#topInput {
    width: 40%;
}

#inputForm {
    display: none;
    text-align: center;
}

#addArtistButton {
    margin: 5px;
    width: 20ppx
}

#inputForm input {
    display: inline-block;
    width: 100%;
}

.hidden {
    display: none;
}

#addArtistButton {
    display: inline;
    width: 25%;
}

#profilesDiv {
    margin: 0 20px;
    border: 1px solid rgb(184, 181, 181);
}

.profile {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid rgb(184, 181, 181);
}

.profile img {
    float: left;
    padding: 0 10px;
}

.profile:hover {
    background-color: rgb(184, 181, 181);
}

.deleteButton {
    position: absolute;
    right: 10px;
    bottom: 40px;
    float: right;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 5px;
}