.singlePost-reply-profile-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.single-reply-img {
    display: inline-block;
    vertical-align: top;
}

.single-reply-p {
    display:inline-block;
}

#single-reply-submit-btn {
    margin-top: 10px;
    float:right;
    width: 20%;
}